<nb-layout>
  <nb-layout-header fixed>Company Name</nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>

  <nb-layout-column>
    Page Content <button nbButton>Hello World</button>

    <div class="content">
      <div class="columns">
        <div class="row">
          <div class="col-lg-6">
              <app-foobar-form></app-foobar-form>
          </div>
          <div class="col-lg-6">
            Hey!
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
